@font-face {
	font-family: 'iconfont'; /* project id 2079203 */
	src: url('//at.alicdn.com/t/font_2079203_zw7m2z0gra.eot');
	src: url('//at.alicdn.com/t/font_2079203_zw7m2z0gra.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_2079203_zw7m2z0gra.woff2') format('woff2'),
		url('//at.alicdn.com/t/font_2079203_zw7m2z0gra.woff') format('woff'), url('//at.alicdn.com/t/font_2079203_zw7m2z0gra.ttf') format('truetype'),
		url('//at.alicdn.com/t/font_2079203_zw7m2z0gra.svg#iconfont') format('svg');
}

.iconfont {
	font-family: 'iconfont' !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
